@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  margin-bottom: 30px;
  display: block;
/*  display: flex; */
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: blue;
}

/*
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}
*/

.result p {
  color: white;
//  font-family: 'Nico Moji';
  font-size: 30px;
  /*テキストを中央よせ*/
  text-align: center;
  margin: 50px 0px;
}

#luckytext ,#color{
  margin: 10px;
}

.btn {
  width: 200px;
  background: red;
  color: white;
  border-radius: 13px;
  line-height: 40px;
  font-size: 20px;
  font-family: 'Nico Moji';

}

.btn:hover {
  opacity: .7;
}